<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/head :: headFragment(~{::title})}">
    <title>Default Layout</title>
</head>
<body>
    <div class="app-shell">
        <div class="app-mobile-backdrop" data-sidebar-close></div>
        <aside th:replace="~{fragments/sidebar :: sidebarFragment}"></aside>

        <div class="app-main">
            <header th:replace="~{fragments/header :: headerFragment}"></header>

            <main class="page" layout:fragment="content">
                <!-- 개별 페이지의 내용이 들어옵니다. -->
            </main>
        </div>
    </div>
</body>
</html>
