<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.smartmessaging.service.repository.ChannelMapper">

    <select id="getActiveChannels" resultType="ChannelVO">
        SELECT 
            id,
            channel_type AS channelType,
            cost_per_msg AS costPerMsg,
            max_length AS maxLength,
            is_active AS isActive
        FROM channel
        WHERE is_active = 1
        ORDER BY cost_per_msg ASC
    </select>

</mapper>
