<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartmessaging.service.repository.StatMapper">

    <resultMap id="messageStatResultMap" type="MessageStatVO" autoMapping="true">
        <result property="date" column="stat_date"/>
    </resultMap>

    <resultMap id="messageStatByDegreeResultMap" type="MessageStatByDegreeVO" autoMapping="true">
        <result property="date" column="stat_date"/>
    </resultMap>

    <resultMap id="customerStatResultMap" type="CustomerStatVO" autoMapping="true">
        <result property="date" column="stat_date"/>
    </resultMap>

    <sql id="messageStatColumns">
        id,
        total_send_count,
        total_success_count,
        billing_cost,
        max_cost,
        stat_date,
        <include refid="Common.auditColumns"/>
    </sql>

    <sql id="messageStatByDegreeColumns">
        id,
        degree,
        send_count,
        success_count,
        stat_date,
        cost,
        channel_id,
        <include refid="Common.auditColumns"/>
    </sql>

    <sql id="channelStatColumns">
        id,
        click_target_count,
        click_count,
        conversion_target_count,
        conversion_count,
        consent_target_count,
        consent_count,
        channel_id,
        <include refid="Common.auditColumns"/>
    </sql>

    <sql id="customerStatColumns">
        id,
        stat_date,
        total_customer_count,
        normal_customer_count,
        new_customer_count,
        dormant_customer_count,
        sms_consent_count,
        kakao_consent_count,
        email_consent_count,
        joined_customer_count,
        <include refid="Common.auditColumns"/>
    </sql>

    <sql id="clickStatColumns">
        id,
        stat_date,
        channel_id,
        hour_00,
        hour_01,
        hour_02,
        hour_03,
        hour_04,
        hour_05,
        hour_06,
        hour_07,
        hour_08,
        hour_09,
        hour_10,
        hour_11,
        hour_12,
        hour_13,
        hour_14,
        hour_15,
        hour_16,
        hour_17,
        hour_18,
        hour_19,
        hour_20,
        hour_21,
        hour_22,
        hour_23,
        <include refid="Common.auditColumns"/>
    </sql>

    <select id="selectActiveChannels" resultType="ChannelVO">
        SELECT
            id,
            channel_type,
            cost_per_msg,
            max_length,
            is_active,
            <include refid="Common.auditColumns"/>
        FROM channel
        WHERE is_deleted = 0
          AND is_active = 1
        ORDER BY id
    </select>

    <select id="selectMessageStats" parameterType="StatSearchRequest" resultMap="messageStatResultMap">
        SELECT
            <include refid="messageStatColumns"/>
        FROM message_stat
        WHERE is_deleted = 0
        <if test="from != null">
          AND stat_date &gt;= #{from}
        </if>
        <if test="to != null">
          AND stat_date &lt;= #{to}
        </if>
        ORDER BY stat_date
    </select>

    <select id="selectDeliveryMessageStatByDegrees" parameterType="StatSearchRequest" resultMap="messageStatByDegreeResultMap">
        SELECT
            msbd.id,
            msbd.degree,
            msbd.send_count,
            msbd.success_count,
            msbd.stat_date,
            msbd.cost,
            msbd.channel_id,
            msbd.created_at,
            msbd.updated_at,
            msbd.created_by,
            msbd.updated_by,
            msbd.is_deleted
        FROM message_stat_by_degree msbd
        INNER JOIN channel c
                ON c.id = msbd.channel_id
               AND c.is_deleted = 0
        WHERE msbd.is_deleted = 0
        <if test="from != null">
          AND msbd.stat_date &gt;= #{from}
        </if>
        <if test="to != null">
          AND msbd.stat_date &lt;= #{to}
        </if>
        <if test="channel != null and channel != ''">
          AND c.channel_type = #{channel}
        </if>
        ORDER BY msbd.stat_date, msbd.degree, msbd.channel_id
    </select>

    <select id="selectChannelStats" parameterType="StatSearchRequest" resultType="ChannelStatVO">
        SELECT
            cs.id,
            cs.click_target_count,
            cs.click_count,
            cs.conversion_target_count,
            cs.conversion_count,
            cs.consent_target_count,
            cs.consent_count,
            cs.channel_id,
            cs.created_at,
            cs.updated_at,
            cs.created_by,
            cs.updated_by,
            cs.is_deleted
        FROM channel_stat cs
        INNER JOIN channel c
                ON c.id = cs.channel_id
               AND c.is_deleted = 0
        WHERE cs.is_deleted = 0
        <if test="channel != null and channel != ''">
          AND c.channel_type = #{channel}
        </if>
        ORDER BY cs.channel_id
    </select>

    <select id="selectCustomerStats" parameterType="StatSearchRequest" resultMap="customerStatResultMap">
        SELECT
            <include refid="customerStatColumns"/>
        FROM customer_stat
        WHERE is_deleted = 0
        <if test="from != null">
          AND stat_date &gt;= #{from}
        </if>
        <if test="to != null">
          AND stat_date &lt;= #{to}
        </if>
        ORDER BY stat_date
    </select>

    <select id="selectCustomerChannelConsents" parameterType="StatSearchRequest" resultType="CustomerChannelConsentSummaryVO">
        SELECT
            ccc.channel_id,
            COUNT(*) AS total_count,
            SUM(CASE WHEN NVL(ccc.is_consented, 0) = 1 THEN 1 ELSE 0 END) AS consented_count,
            SUM(CASE WHEN NVL(ccc.is_consented, 0) = 1 THEN 0 ELSE 1 END) AS rejected_count
        FROM customer_channel_consent ccc
        INNER JOIN channel c
                ON c.id = ccc.channel_id
               AND c.is_deleted = 0
        WHERE ccc.is_deleted = 0
        <if test="channel != null and channel != ''">
          AND c.channel_type = #{channel}
        </if>
        GROUP BY ccc.channel_id
        ORDER BY ccc.channel_id
    </select>

    <select id="selectPerformanceClickStats" parameterType="StatSearchRequest" resultType="ClickStatVO">
        SELECT
            cs.id,
            cs.stat_date,
            cs.channel_id,
            cs.hour_00,
            cs.hour_01,
            cs.hour_02,
            cs.hour_03,
            cs.hour_04,
            cs.hour_05,
            cs.hour_06,
            cs.hour_07,
            cs.hour_08,
            cs.hour_09,
            cs.hour_10,
            cs.hour_11,
            cs.hour_12,
            cs.hour_13,
            cs.hour_14,
            cs.hour_15,
            cs.hour_16,
            cs.hour_17,
            cs.hour_18,
            cs.hour_19,
            cs.hour_20,
            cs.hour_21,
            cs.hour_22,
            cs.hour_23,
            cs.created_at,
            cs.updated_at,
            cs.created_by,
            cs.updated_by,
            cs.is_deleted
        FROM click_stat cs
        INNER JOIN channel c
                ON c.id = cs.channel_id
               AND c.is_deleted = 0
        WHERE cs.is_deleted = 0
        <if test="from != null">
          AND cs.stat_date &gt;= #{from}
        </if>
        <if test="to != null">
          AND cs.stat_date &lt;= #{to}
        </if>
        <if test="channel != null and channel != ''">
          AND c.channel_type = #{channel}
        </if>
        ORDER BY cs.stat_date, cs.channel_id
    </select>
</mapper>
