<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartmessaging.service.repository.UserMapper">

    <!-- 1. 사원번호로 활성화된 사원 정보 조회 -->
    <select id="findByEmpNum" resultType="UsersVO">
        SELECT 
            user_id,
            emp_num,
            pwd,
            name,
            is_active,
            <include refid="Common.auditColumns"/>
        FROM users
        WHERE emp_num = #{empNum}
          AND is_deleted = 0
          AND is_active = 1
    </select>


    <!-- 2. 사용자 ID로 보유한 권한 리스트 조회 -->
    <select id="findAuthoritiesByUserId" resultType="string">
        SELECT authority
        FROM authorities
        WHERE user_id = #{userId}
          AND is_deleted = 0
    </select>

    <!-- 3. 신규 사원 등록 (오라클 IDENTITY 속성을 활용해 자동 생성된 PK(userId) 값을 Long 타입으로 자동 반환받음) -->
    <insert id="insertUser" parameterType="UsersVO" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        INSERT INTO users (
            emp_num,
            pwd,
            name,
            is_active,
            <include refid="Common.auditColumns"/>
        ) VALUES (
            #{empNum},
            #{pwd},
            #{name},
            #{isActive},
            <include refid="Common.auditInsertValues"/>
        )
    </insert>


    <!-- 4. 사원 권한 매핑 등록 (Common.auditColumns, Common.auditInsertValues 공통 include 적용) -->
    <insert id="insertAuthority" parameterType="AuthoritiesVO">
        INSERT INTO authorities (
            user_id,
            authority,
            <include refid="Common.auditColumns"/>
        ) VALUES (
            #{userId},
            #{authority},
            <include refid="Common.auditInsertValues"/>
        )
    </insert>




</mapper>

