# 로컬 개발 환경용 설정 템플릿입니다.
# 이 파일을 복사하여 같은 경로에 'application-local.yml' 파일을 만들고 개인 비밀번호를 기입해 사용하세요.
# (주의: 복사해 만든 application-local.yml은 .gitignore에 의해 Git에 절대 업로드되지 않습니다.)

spring:
  # Database 연결 설정 (Oracle)
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@100.68.224.11:1521/XEPDB1  # 필요시 DB IP/SID 수정
    username: message                                # 계정명
    password: "your_password"                         # 실제 비밀번호 기입
